.col {
  height: 90%;
  max-width: 400px;
  margin: 15px;
}

.detail {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
}

.image {
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.text {
  color: rgb(174, 173, 173);
  font-size: 1.5rem;
}

button {
  border-radius: 0.6em;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(230, 253, 27, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(253, 249, 27, 0.1) 100%
    );
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(238, 253, 27, 0.4),
    0 0 9px 3px rgba(253, 245, 27, 0.1);
  font-size: 15px;
  font-family: inherit;
  letter-spacing: 0.06em;
  line-height: 1.4em;
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
  padding: 0.7em 2.7em;
  }

button:hover {
  box-shadow: inset 0 0 10px rgba(242, 253, 27, 0.6),
    0 0 9px 3px rgba(223, 253, 27, 0.2);
  color: #fffb82;
}

button:before {
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(242, 253, 27, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
  content: "";
  height: 100%;
  left: -4em;
  position: absolute;
  top: 0;
  transition: transform 0.4s ease-in-out;
  width: 4em;
}

button:hover:before {
  transform: translateX(15em);
}

@media (max-width: 730px) {
  .row {
    align-items: center;
    flex-direction: column;
  }
  .image {
    width: 60vw;
  }
  .text {
    font-size: 1rem;
    width: 70vw;
  }
  .detail {
    margin-top: 40px;
  }
}
