.navbar {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.542);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 60px;
  justify-content: space-around;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 70%;
}

.container a {
  color: rgb(140, 140, 140);
}

.container a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgb(246, 255, 0);
  transition: 0.4s;
}

.title {
  color: rgb(251, 255, 0);
  text-shadow: 1px 1px 3px rgb(251, 255, 0);
}

@media (max-width: 730px) {
  .container {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    margin-top: 0px;
    width: 100vw;
  }
  .hide {
    display: none;
  }
  .title {
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    margin-top: 15px;
    right: 0;
    position: absolute;
  }
}
