body {
  background-color: black;
  background-size: cover;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)),
    url(https://www.justwatch.com/appassets/img/home/global-home-bg-comp.png);
  color: white;
  margin: 0;
  font-family: Lato, Lato-fallback, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: white;
  text-decoration: none;
}

@media (max-width: 730px) {
  body {
    background-color: rgb(33, 33, 33);
    height: 100%;
  }
}
